

<header class="header">
    <div class="container header-container">
        <a class="logo" href="">
        <picture>
            <source media="(min-width: 768px)" srcset="/logo.a04b0e4a.png 1x,/logo@2x.fb87262e.png 2x">
            <source media="(min-width: 1280px)" srcset="/logo.2b5fd628.png 1x,/logo@2x.1686fa6f.png 2x">
            <img src="/logo.b37e6df2.png" srcset="/logo.b37e6df2.png 1x,/logo@2x.242614ce.png 2x" alt="logotype" width="199" height="50" loading="lazy">
        </picture>

        </a>
        <div class="hidden-menu-mobile header-nav" id="hidden-menu-mobile" data-menu="">
            <button class="button-buy" type="button">Buy now<svg class="svg-button" width="6px" height="8px">
                    <use href="/sprite.baa80bdf.svg#icon-Vector"></use>
                </svg>
            </button>
            <nav>
                <ul class="header-list">
                    <li class="header-item"><a class="nav-link" href="/src/partials/header-hero.html">header-hero</a></li>
                    <li class="header-item"><a class="nav-link" href="/src/partials/pics-sect.html">About us</a></li>
                    <li class="header-item"><a class="nav-link" href="/src/partials/how-it-made.html">How it’s made?</a></li>
                    <li class="header-item"><a class="nav-link" href="/src/partials/products.html">Our products</a></li>
                    <li class="header-item"><a class="nav-link" href="/src/partials/slide-sect.html">Contact</a></li>
                </ul>
            </nav>
            
        </div>
        <div class="button-div">
            <button class="button-buy buy-desktop" type="button">Buy now<svg class="svg-button" width="6px" height="8px">
                    <use href="/sprite.baa80bdf.svg#icon-Vector"></use>
                </svg>
            </button>
        </div>
        <button type="button" class="button-menu" data-menu-button="">
            <svg class="icons-for-menu" width="14" height="14">
                <use class="icon-menu" href="/sprite.baa80bdf.svg#icon-menu">
                </use>
                <use class="menu-closed" href="/sprite.baa80bdf.svg#menu-closed"></use>
            </svg>
        </button>
       
    </div>


    <!-- section hero -->
    
    <div class="hero-container container"></div>
    <h1>ice cream made with <span>passion</span></h1>
    
    <button class="hero-btn-products">Products</button>
    <button class="hero-btn-how">How it's made?</button>
    
    <img src="" alt="">
</header>
<script src="/menu.1bea1846.js"></script>