<section class="slide-sec">
    <div class="container slide-sec-container">
        <h2 class="visually-hidden">Отзывы покупателей</h2>

        <div class="customer-photo">
            <img class="slide-sec-photo" src="/curly-girl.73679cc3.jpg" alt="black girl smiling" width="85" height="85" srcset="/curly-girl@2x.ca6d3e50.jpg 2x">
        </div>

        <div class="customer-review">
            <div class="p-gradient">
                <p class="sample">
                    Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                    Aliquam sem. In hendrerit nulla quam nunc, accumsan
                    congue. Lorem ipsum primis in nibh vel risus.
                </p>
                <div class="gradient-container"></div>
            </div>
        </div>

        <div class="customer-navigation">
           <svg width="30px" height="4px">
                <use href="/sprite.6a6de2f0.svg#red-dots"></use>
            </svg>
            </div>

           <div class="custumer-tittle">
                <h2 class="customer">Emily, Los Angelos</h2>

           </div>

            <div class="pagination-section">
            <svg class="slide-svg" width="12px" height="11px">
                <use href="/sprite.6a6de2f0.svg#home"></use>
            </svg>
            <svg class="slide-svg" width="12px" height="11px">
                <use href="/sprite.6a6de2f0.svg#gray-circle"></use>
            </svg>
            <svg class="slide-svg" width="12px" height="11px">
                <use href="/sprite.6a6de2f0.svg#gray-circle"></use>
            </svg>
            </div>

        </div>
    
</section>